body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background-color: fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@font-face {
  font-family: 'tmon';
  src: url("./assets/fonts/tmon.ttf");
}

@font-face {
  font-family: 'baemin';
  src: url("./assets/fonts/baemin.ttf");
}

@font-face {
  font-family: "google1";
  src: url("./assets/fonts/google1.ttf");
}

@font-face {
  font-family: "google2";
  src: url("./assets/fonts/google2.ttf");
}

@font-face {
  font-family: "google3";
  src: url("./assets/fonts/google3.ttf");
}

@font-face {
  font-family: "google4";
  src: url("./assets/fonts/google4.ttf");
}

.root {
  font-family: 'google4';
  display: flex;
  flex-direction: column;
  letter-spacing: -6px;
  line-height: 0.8;
}

.center {
  text-align: center;
}

.upperBar {
  width: 100%;
  position: fixed;
  text-align: center;
  background-color: transparent;
  font-size: 30px;
  z-index: 3;
}

.section0 {
  margin: -50px;
  height: 1500px;
}

.video1 {
  position: absolute;
  z-index: 1;
  border-bottom: solid;
  border-bottom-width: 1000px;
}

.contentBackground {
  margin: 50px;
}

.font1{
  font-size: 100px;
  position: relative;
  z-index: 2;
  color: #dddddd;
  bottom: -500px;
  margin-left: 50px;
  opacity: 1;
  height: 1000px;
}

.font1-1 {
  margin-top: -100px;
}


.font2 {
  font-size: 200px;
  line-height: 0.73;
  margin-top: 700px;
  text-align: right;
  position: relative;
}

.font2-1 {
  display: flex;
  flex-direction: row;
  margin-top: -270px;
  margin-left: 650px;
}

.font2-2 {
  display: flex;
  flex-direction: row;
  margin-top: -190px;
  margin-left: 750px;
}

.univLogo {
  position: absolute;
  width: 1500px;
  opacity: 0.8;
  margin-top: -100px;
  right: 500px;
}

.font3 {
  font-size: 100px;
  line-height: 0.73;
}

.font3-1 {
  opacity: 0;
}


.font3-2 {
  font-family: 'tmon';
  height: 600px;
  text-align: center;
  letter-spacing: 0px;
  font-size: 150px;
  white-space: nowrap;
  margin-top: 700px;
}



.font3-3 {
  position: relative;
  right: 600px;
  margin-top: 500px;
  z-index: 3;

}

.font3-4 {
  position: relative;
  right: -600px;
  margin-top: -100px;
  z-index: 3;
}

.font4 {
  font-size: 200px;
  margin-top: 500px;
  display: flex;
  flex-direction: 'row';
  padding-bottom: 800px;
}

.font5 {
  font-size: 300px;
  margin-top: 350px;
  position: relative;
}

.font6 {
  font-family: 'tmon';
  letter-spacing: 0px;
  position: absolute;
  font-size: 150px;
  color: #bbb;
  white-space: nowrap;
  margin-top: 120px;
  animation: moveLeft 9s linear infinite;
}

.font7 {
  font-family: 'google1';
  letter-spacing: -8px;
  line-height: 1;
  display: flex;
  flex-direction: row;
  margin-top: 1000px; 
  position: relative;
  height: 2000px;
}

.font7-1 {
  font-size: 130px;
  text-align: center;
}

.font7-2 {
  font-size: 100px;
  margin-top: 0px;
  position: relative;
}

.font7-3 {
  position: relative;
  font-size: 100px;
}
.font7-4 {
  position: relative;
  font-size: 100px;
}
.font7-5 {
  position: relative;
  font-size: 100px;
}

.font8 {
  position: relative;
  top: -300px;
  right: 100%;
  font-size: 100px;
}

.end {
  font-size: 100px;
  text-align: center;
  position: relative;
}

.end-1 {
  position: absolute;
  margin-top: 500px;
  z-index: 3;
  color: #dddddd;
}

.endVid {
  position: relative;
  margin: -50px;
  border: solid;
  border-top-width: 150px;
  border-bottom-width: 150px;
}

@keyframes moveLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-2300px);
  }
}
