

  .root_m {
    font-family: 'google4';
    margin: 0px;
  }

  .video1_m {
    width: 100vw;
    border-bottom: solid;
    border-bottom-width: 200px;
    position: absolute;
  }

  .font1_m {
    margin: 0px;
    font-size: 10vw;
    position: relative;
    padding-top: 40vh;
    color: #bbbbbb;
  }

  .font1-2_m {
    margin: 0px;
  }